body{
    background-color: #e0deb8;
}  
/* Mise en page */

#entete {
    width: 1000px;
    background: url("../image/sorbonne.jpg") no-repeat scroll center;
    height: 248px;
    margin-left: auto;
    margin-right:auto;
}
nav{
    width:102%;
    height:auto;
    background-color:#ffefd5;
    
}

main{
    margin-left:auto;
    margin-right:auto;
     width: 1000px;
   
}

#menu{
    width: 300px;
    height:auto;
    float: left;
    position: relative;
    
}

article{
    width:591px;
    float:left;
    height:auto;
    
}

footer{
    background-color:#ffefd5;
    position:relative;
    bottom:0;
    width:1025px;
    height:auto;
    margin-top: -50px;
    clear: both;
    margin-right: auto;
    margin-left: auto;
}

/*Affichage menu*/

#menu-deroulant {
    padding:0;
    margin:0;
    list-style:none;
    text-align: left;
    width: 180px;
  }

#menu-deroulant ul {
    padding:0;
    margin:0;
    list-style:none;
    text-align: left;
    border:5px;
}

#menu-deroulant li li {
     max-height:0;
     overflow: hidden;
}

#menu-deroulant a {
    display:block;
    padding:3px;
    font-family:'Trebuchet MS';
    font-size:15px;
    background-color: #f5deb3;
    border-radius: 3px;
 }
 
#menu-deroulant li:hover li {
    max-height: 5em;
    background-color:rgb(192, 177, 145);
    color: #0000;
 }

#menu-deroulant li:hover h4 {
      color:black;
      background-color: #ffefd5;
      border-bottom: 4px gold;
}

/* formatage des textes*/
nav a {
    font-family:'Times New Roman';
    color: #808080;
    font-size: 15px;
    text-decoration: none;
}

li a{
    font-size:16px;
    font-style:initial;
    margin-left:3px;
    color: #808080;
    text-decoration: none;

}
footer p {
    font-size: 15px;
    color:#808080;
    font-family: 'Times New Roman';

}
footer a {
    text-decoration: none;
    font-size:15px;
    font-family:'Time New Roman';
    color:#808080;
}
article h2{
    font-family: 'Trebucjet MS';
    text-align: center;
    font-size:29px;
    color:rgb(192, 12, 66);
    font-variant:inherit;
    font-style: italic;
    font-weight: bold;
    text-shadow:0 0 30px #6d8b94,6px 10px 6px rgba(0, 0, 0, 1), 0 0 200px #0018f3;
    
}

article h3{
    font-family:'Time New Roman';
    font-size:23px;
    color:rgba(12, 110, 155, 0.87);
    
}
 article li {
     font-family: 'Time New Roman';
     font-size:17px;
 }
 article dd{
    font-family: 'Time New Roman';
    font-size:17px;
 }
article p{
    font-family: 'Time New Roman';
     font-size:17px;
}
article dt {
    font-family: 'Time New Roman';
    font-size:18px;
    color:rgb(253, 68, 1);
    
}
h4{
    font-weight:bold;
    font-family:'Trebuchet MS';
    text-decoration:underline;
    font-variant:small-caps;
    font-size:18px;
}
article caption{
    font-family: 'Time New Roman';
    font-size: 18px;
    color:rgb(253, 68, 1);

}
/* tableau*/
article table {
    border-width: 1px;
    border-style: solid;
    border-color:#000;
    border-collapse: collapse;
  
}

article td {
    border-width: 1px;
    border-style: groove;
}

article th{
    border-width: 2px;
    border-style: solid;
}
